In [9]:
# made by Max Lialin

import pandas as pd

print( 'pandas version: ', pd.__version__)

pandas version:  1.3.5

In [26]:

df = pd.read_csv('adult.data.csv')
df[:7]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K

In [11]:
df.shape

(32561, 15)

In [12]:
# 1. Найти в датасете колонку ‘species’ и удалить ее из датасета

In [13]:
# 2. Преобразовать оставшиеся колонки в 2D массив

In [14]:
# 3. Посчитать mean, median, standard deviation по 1-й колонке

In [15]:
# 4. Вставить 20 значений np.nan на случайные позиции в массиве (при обычном рандоме могут наложиться позиции, поэтому найти решение, которое гарантирует 20 уникальных позиций)

In [16]:
# 5. Найти позиции вставленных значений np.nan в 1-й колонке

In [17]:
# 6. Отфильтровать массив по условию значения в 3-й колонке > 1.5 и значения в 1-й колонке < 5.0

In [18]:
# 7. Заменить все значения np.nan на 0

In [19]:
# 8. Посчитать все уникальные значения в массиве и вывести их вместе с подсчитанным количеством

In [20]:
# 9. Разбить массив по горизонтали на 2 равные части (не использовать абсолютные числа, горизонталь имеется в виду два массива по 4 колонки)

In [21]:
# 10. Отсортировать оба получившихся массива по 1-й колонке: 1-й по возрастанию, 2-й по убыванию

In [22]:
# 11. Склеить оба массива обратно

In [23]:
# 12. Найти наиболее часто повторяющееся значение в массиве

In [24]:
# 13. Написать функцию, которая бы умножала все значения в колонке, меньше среднего значения в этой колонке, на 2, делила остальные значения на 4

In [25]:
# 14. Применить полученную функцию к 3-й колонке